/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvetica, monospace, system-ui;
    background-color: var(--bg-color-1);

    color: var(--font-color);
}

:root {
    --btn-font-size: 16px;
    --btn-font-color: white;
    --btn-border-clr: rgb(97, 97, 97);

    --bg-color-1: black;
    --font-color: white;


} 
/* TODO */
/* add sea like effect maybe a gradient at home page */

/* Navigator ---------- */
.nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    color: white;
    margin: 24px;
}
.logo {
    margin-left: 24px;
}

#nav-btns {
    margin-right: 24px;
    display: flex;
    gap: 12px;
    margin-left: 24px;
}
#nav-btns button{
    background-color: var(--bg-color-1);
    border: none;
    padding: 12px 6px;

    font-size: var(--btn-font-size);
    color: var(--btn-font-color);
    font-weight: bold;
}


/* Navigator ---------- */


/* HOME PAGE ---------- */
/* .main-text, .sub-head, .jump-to-menu */
.home-container {
    margin: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    color: var(--font-color);
}

.main-text {
    margin-top: 150px;
    left: 25%;
    white-space: pre-line;
    text-transform: uppercase;
}

.sub-head {
    font-weight: lighter;
    font-size: 1em;
}

.jump-to-menu {
    padding: 12px 24px;
    margin-top: 24px;   

    color: var(--btn-font-color);
    border: 1px solid white;

    font-weight: bold;

    border-radius: 24px;
    text-transform: uppercase;
    
}

/* HOME PAGE ----------  */


/* MENU PAGE ---------- */

.menu-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cate-container {
    /* border: 1px solid red; */
    margin: 24px;
    
    max-width: 600px;
    box-sizing: border-box;
}

.cate-name {
    margin-bottom: 12px;
}

.cards-container {
    margin-left: 24px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
}

@media  (max-width: 500px){
    .cards-container {
        grid-template-columns: 1fr;
        margin: 0;
    }
    
}

.item-container {
    padding: 12px;
    border: 1px solid var(--btn-border-clr);
    border-radius: 6px;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;


    max-width: 270px;
}

.menu-name, .price-value {
    font-weight: bold;
    font-size: 1.2em;
}

.menu-desc {
    margin-top: 6px;
    margin-bottom: 12px;
}

/* MENU PAGE ---------- */


/* CONTACT PAGE ---------- */

.contact-container {
    margin-top: 100px;   

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info-container {
    border: 1px solid var(--btn-border-clr);
    border-radius: 12px;
    padding: 24px;
    box-sizing: border-box;

    max-width: 500px;
}

.contact-ps {
    margin-top: 48px;
}