/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvetica, monospace, system-ui;
}


/* .main-text, .sub-head, .jump-to-menu */
.home-container {
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
